.card {
    background-color: teal;
    color: white;
    width: 400px;
    height: 360px;
    text-align: center;

    margin-right: 50px;
    margin-top: 25px;


    flex: 0 30%;
}

.card img {
    width: 100px;
    height: 100px;
}

.delete, .update {
    width: 60px;
    height: 40px;
    font-size: 20px;

    border-radius: 5px 25px;
}

.delete:hover, .update:hover {
    background-color: black;
    color: white;

    width: 55px;
    height: 35px;
}

.update {
    margin-left: 5px;
}