#navbar {
    padding-right: 40px;
    padding-left: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: teal;
    color: white;
}

.button-link {
    width: 100px;
    height: 60px;
    font-size: 20px;

    border-radius: 5px 25px;

    margin-right: 15px;
}

.button-link:hover {
    background-color: black;
    color: white;

    width: 110px;
    height: 70px;
}

#search-bar {
    padding: 6px;
    border: none;
    margin-top: 12px;
    margin-right: 15px;
    font-size: 17px;
}

#search-bar:focus {
    outline: none;
}